/*
    GLOBAL
*/
:root{
    --green-obligatory: #198754;
    --yellow-obligatory: #f5a801;
}

.nav-link:hover {
    color: var(--green-obligatory);
}

.carousel-inner {
    max-height: 700px;
}

footer {
    background-color: #056f45;
}

.text-data {
    color: #EEEEEE;
}

.link-mail {
    color: var(--yellow-obligatory);
}

.link-mail:hover {
    color: #cb8b00;
}

/*
    CONOCE EL BOSQUE PART
*/

.text-title {
    color: var(--yellow-obligatory);
}
.number::marker {
    font-weight: bold;
}


.bg-title {
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.container-title {
    background-color: #000000ed;
}

/*
    DIRECTORIO
*/

.bg-title-directory {
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: -13rem;
    width: 100%;
    height: auto;
}

.card-directory {
    min-width: 14rem;
}

/*
    GLOBAL
*/

@media only screen and (max-width: 768px) {
    .carousel-inner {
        height: 100%;
    }
    footer {
        height: 100%;
    }
    .bg-title-directorie{
        top: 0;
    }
}