:root{
    --green-obligatory: #198754;
}

.nav-link:hover {
    color: var(--green-obligatory);
}

.carousel-inner {
    max-height: 700px;
}

footer {
    background-color: #056f45;
}

.text-data {
    color: #EEEEEE;
}


@media only screen and (max-width: 768px) {
    .carousel-inner {
        height: 100%;
    }
    footer {
        height: 100%;
    }
}